body {
  margin: 0;
  background: rgb(20, 20, 20);
}

#khaki {
  background: rgb(246, 154, 154);
  padding-left: 50px;
}

#canvas {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

#backgroundnone {
  background: none;
  color: white;
}

nav div ul li #backgroundnone {
  color: white;
}


.sidenav {
  height: 0; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  bottom: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  /* overflow-x: hidden; /* Disable horizontal scroll */ */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  /* border-top: 1px solid white; */
  color: white;
}

.sidenav h2 {
  padding: 30px 50px 0 50px;
}

.sidenav p {
  padding: 0px 50px;
  width: 75%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#hydrogen {
  color: #83AE9B;
}

#antim {
  color: #EF4566;
}
